<% if(typeof errors != 'undefined') { %>
    <%errors.forEach(function(error){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }); %>
<% } %>

<% if(success_msg != ''){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(error_msg != ''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(enroll_msg != ''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= enroll_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(error != ''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(pwd_msg != ''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= pwd_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(newpass_mail != ''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= newpass_mail %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(newpwd_msg != ''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= newpwd_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>


<% if(incorrect_pwd != ''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= incorrect_pwd %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>







