<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/a23d64e9bd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body onload="page_load()">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img style="width: 130px;" src="/img/logo.jpg" alt="Medicaps-logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/infos/admin">Admin<span class="sr-only">(current)</span></a>
                  </li>
                </ul>
                <a href="/infos/profile" style="margin: 25px;" class="my-2 my-lg-0"><i style="size: 50px;" class="fa-solid fa-user"></i>Profile</a>
                <a href="/infos/logout" class="btn btn-secondary my-2 my-sm-0">Logout</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="row">
            <div class="col-2" style="margin: 20px;">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-books-tab" data-toggle="pill" href="#v-pills-books" role="tab" aria-controls="v-pills-books" aria-selected="true">Books</a>
                <a class="nav-link" id="v-pills-students-tab" data-toggle="pill" href="#v-pills-students" role="tab" aria-controls="v-pills-students" aria-selected="false">Students Record</a>
                <a class="nav-link" id="v-pills-bookissued-tab" data-toggle="pill" href="#v-pills-bookissued" role="tab" aria-controls="v-pills-bookissued" aria-selected="false">Book Issued</a>
              </div>
            </div>
            <div style="border-left: 1px solid cadetblue; height: 1000px;"></div>
            <div class="col-9">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-books" role="tabpanel" aria-labelledby="v-pills-books-tab">
                    <div style="text-align: right; margin-top: 20px;">
                        <button class="btn btn-primary add-book-btn">Add Book</button>
                    </div>
                    <form class="form-inline my-2 my-lg-0" action="/books/booksearch" method="POST">
                      <div style="width: 30%;">
                        <input class="form-control mr-sm-2" id="search-input" style="width: 95%;" name="searchtype" type="search" placeholder="Enter the Book-Name / Book-id / Writer-Name" aria-label="Search" onkeyup="showResults(this.value)">
                        <div id="livesearch" class="hide"></div>
                      </div>
                      <button class="btn btn-outline-success search-book-btn my-2 my-sm-0" type="submit">Search</button>
                      <a class="btn btn-secondary my-2 my-sm-0" style="margin-left:8px;" href="/infos/admin">Cancel</a>
                    </form>
                    <div class="page-wrapper">
                        <div class="card">
                            <div class="card-block">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Book-id</th>
                                    <th scope="col">Book-Name</th>
                                    <th scope="col">Writer-Name</th>
                                    <th scope="col">Edition</th>
                                    <th scope="col">Book-Image</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Book-Issue</th>
                                    <%- include("partials/bookmsgs.ejs") %>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% books.forEach(function(book){%>
                                  <tr class="align-middle">
                                    <th scope="row"><%= book.bookid %></th>
                                    <td><%= book.bookname %></td>
                                    <td><%= book.writername %></td>
                                    <td><%= book.edition %></td>
                                    <td><img src="/img/<%= book.bookimg %>" width="50" class="img-thumbnail" /></td>
                                    <td><a href="/books/admin/<%= book.bookid %>">View</a>
                                    <a class="edit-button" href="/books/edit/<%= book.bookid %>">Edit</a>
                                    <%- include('./delete', {url: `/books/admin/${book.bookid}`}) %></td>
                                    <td><a class=" btn btn-secondary" href="/issues/issue/<%= book.bookid %>">Issue</a></td>
                                  </tr>
                                  <% }) %>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-students" role="tabpanel" aria-labelledby="v-pills-students-tab">
                  <div style="margin-top: 30px;">
                    <form class="form-inline my-2 my-lg-0" action="/students/studentsearch" method="POST">
                      <div style="width: 30%;">
                        <input class="form-control mr-sm-2" id="search-input" style="width: 95%;" name="studentsearch" type="search" placeholder="Enter the Student-id " aria-label="Search" onkeyup="showResults(this.value)">
                        <div id="livesearch" class="hide"></div>
                      </div>
                      <button class="btn btn-outline-success search-book-btn my-2 my-sm-0" type="submit">Search</button>
                      <a class="btn btn-secondary my-2 my-sm-0" style="margin-left:8px;" href="/infos/admin">Cancel</a>
                    </form>
                  </div>
                  <div class="page-wrapper">
                    <div class="card">
                        <div class="card-block">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">S.No.</th>
                                <th scope="col">Student_Name</th>
                                <th scope="col">Email_Id</th>
                                <th scope="col">Enrollment_Number</th>
                                <th scope="col">Phone_Number</th>
                                <th scope="col">Action</th>
                                <%- include("partials/studentmsgs.ejs") %>
                              </tr>
                            </thead>
                            <tbody>
                              <% studentsinfo.forEach(function(student){%>
                              <% if(student.enroll != 'admin') { %>
                                <tr class="align-middle">
                                  <th scope="row"><%= index++ %></th>
                                  <td><%= student.first + " " + student.last%></td>
                                  <td><%= student.email %></td>
                                  <td><%= student.enroll %></td>
                                  <td><%= student.phone %></td>
                                  <td><%- include('./deletestudent', {url: `/infos/admin/${student.enroll}`}) %></td>
                                </tr>
                              <% } %>
                              <% }) %>
                            </tbody>
                        </table>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-bookissued" role="tabpanel" aria-labelledby="v-pills-bookissued-tab">
                  <div style="margin-top: 30px;">
                    <form class="form-inline my-2 my-lg-0" action="/issues/bookissuedsearch" method="POST">
                      <div style="width: 30%;">
                        <input class="form-control mr-sm-2" id="search-input" style="width: 95%;" name="issuesearch" type="search" placeholder="Enter the Book-Name / Book-id/ Student-Id" aria-label="Search" onkeyup="showResults(this.value)">
                        <div id="livesearch" class="hide"></div>
                      </div>
                      <button class="btn btn-outline-success search-book-btn my-2 my-sm-0" type="submit">Search</button>
                      <a class="btn btn-secondary my-2 my-sm-0" style="margin-left:8px;" href="/infos/admin">Cancel</a>
                    </form>
                  </div>
                  <div class="page-wrapper">
                    <div class="card">
                        <div class="card-block">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">S.No.</th>
                                <th scope="col">Book-id</th>
                                <th scope="col">Book-Name</th>
                                <th scope="col">Student-ID</th>
                                <th scope="col">Stuedent-Name</th>
                                <th scope="col">More Details</th>
                                <th scope="col">Return-Book</th>
                                <th scope="col">Re-Issue Book</th>
                                <%- include("partials/bookmsgs.ejs") %>
                                <%- include("partials/bookissue.ejs") %>
                              </tr>
                            </thead>
                            <tbody>
                              <% issuedbook.forEach(function(issued){%>
                              <tr class="align-middle">
                                <th scope="row"><%= num++ %></th>
                                <td><%= issued.bookid %></td>
                                <td><%= issued.bookname %></td>
                                <td><%= issued.studentid %></td>
                                <td><%= issued.studentname %></td>
                                <td><a href="/issues/issuedetail/<%= issued.bookid %>">View</a></td>
                                <td onclick="returnbook()"><%- include('./returnbook', {url: `/issues/returnbook/${issued.bookid}`}) %></td>
                                <td><a href="/issues/reissuebook/<%= issued.bookid %>">Re-Issue</a></td>
                              </tr>
                              <% }) %>
                            </tbody>
                        </table>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-addbook" role="tabpanel" aria-labelledby="v-pills-addbook-tab">
                    <%- include("addBook.ejs") %>
                </div>
                <div class="tab-pane fade" id="v-pills-booksearch" role="tabpanel" aria-labelledby="v-pills-booksearch-tab">
                  <%- include("booksearch.ejs") %>
                </div>
                <div class="tab-pane fade" id="v-pills-studentsearch" role="tabpanel" aria-labelledby="v-pills-studentsearch-tab">
                  <%- include("studentsearch.ejs") %>
                </div>
              </div>
            </div>
        </div>
    </main>
    <%- include("footer.ejs") %>
    <script>
      function page_load(){
        if("<%= pageload %>" == "1"){
          let bookissuedtab = document.getElementById('v-pills-bookissued-tab');
          bookissuedtab.classList.remove('active');
          let bookissuedpage = document.getElementById('v-pills-bookissued');
          bookissuedpage.classList.remove('show');
          bookissuedpage.classList.remove('active');
          let bookstab = document.getElementById('v-pills-books-tab');
          bookstab.classList.add('active');
          let bookspage = document.getElementById('v-pills-books');
          bookspage.classList.add('show');
          bookspage.classList.add('active');
        } 
        else if("<%= pageload %>" == "3"){
          let bookstab = document.getElementById('v-pills-books-tab');
          bookstab.classList.remove('active');
          let bookspage = document.getElementById('v-pills-books');
          bookspage.classList.remove('show');
          bookspage.classList.remove('active');
          let bookissuedtab = document.getElementById('v-pills-bookissued-tab');
          bookissuedtab.classList.add('active');
          let bookissuedpage = document.getElementById('v-pills-bookissued');
          bookissuedpage.classList.add('show');
          bookissuedpage.classList.add('active');
          document.cookie = "pageload=1"
        } 
      }
      function returnbook(){
        document.cookie = "pageload=3";
      }
    </script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>